body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://extrabetamerica.imgix.net/shutterstock_1858574848_f0fa29fe5c.jpg?fit=crop&ar=16:9");
    background-size: cover;
    font-weight: bold;
    color: red;
    text-align: center;
    
}

h1 {
    color:goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: white;
    width: 150px;
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}